<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img
          src="https://scontent.fcau13-1.fna.fbcdn.net/v/t39.30808-6/298213164_7965509360188767_8258002311987002861_n.jpg?stp=dst-jpg_s640x640&_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFpAgVUXqqZrKfE-58yfT1cerpitX44XU56umK1fjhdTiDPqSpzSuiDMjQze4l7saapjx1n-5ZeX7WClXRnFm4k&_nc_ohc=GkPWW052rAsAX88ouL2&tn=SQX6euB-rerEwfvR&_nc_ht=scontent.fcau13-1.fna&oh=00_AT_jJda0mmZmrtuDQZ8iGJzDicHShzT9WTiJIRFBueWVFQ&oe=631BC6E5"
          alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3 ">
        <p class="m-0 font-weight-bold text-white fs-14">Nome do usuário</p>
      </li>

      <li class="nav-item pl-3">
        <a href="">
          <p class="text-white fs-14 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3 ">
        <a class="m-0 font-weight-bold text-white fs-14">Sair <i class="fa fa-sign-out pl-1" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>